---
---

// @import "minima/skins/{{ site.minima.skin | default: 'dark' }}";
// @import "minima/initialize";

/**
 * Site header
 */
 .site-header-seamless {
  border-top: none !important;
  border-bottom: none !important;
}
/**
 * Site footer
 */
.site-footer {
  border-top: none;
}

.site-nav {
  border:none !important;
}
