---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$dark-background: #111216;
$light-background: #FAFAFA;

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  a h3 {
    text-align: center;
  }
}

.card {
  flex: 0 1 33%;
}

.wrapper {
  padding-top:2px;
}